.my_size{
    width:100%;
}
#demo a{
    background: rgba(0,0,0,0.8);
    width: 4%;
    height: 20%;
    top: 40%;
}
.my_head{
    font-size: 2rem;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    font-style: italic;
    letter-spacing: 3rem;
}
.my_search{
    height:30px;
    vertical-align: bottom;
}
.my_small{
    font-size: 0.6rem;
    color: #fff;
}
.my_width{
    width: 24rem;
}
.my_cn{
    color: #fff;
}
.drop_btn{
    text-align: center;
    width: 1.2rem;
    height: 1rem;
}
.drop_width{
    width: 1rem;
}